<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

      body {
        font-family: "Dancing Script", cursive;
        background-color: #fff0f5;
        margin: 0;
        padding: 0;
      }
      .home-container {
        width: 80%;
        margin: 6rem auto;
        text-align: center;
      }
      h1 {
        color: #333;
        font-size: 5rem;
      }
      span{
        color: #333;
        font-size: 2rem;
      }
    </style>
  </head>
  <body>
    <div class="home-container">
      <h1>Bem-vindo à Home!</h1>
      <span>Você está logado com sucesso!</p>
    </div>
  </body>
</html>
